<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>MVP Architecture</string>
	<key>Summary</key>
	<string>MVP UIModule template</string>
	<key>SortOrder</key>
	<string>4</string>
	<key>DefaultCompletionName</key>
	<string>MVP</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Product</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name</string>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName___Coordinator</string>
			<key>Description</key>
			<string>The Coordinator name</string>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName___ViewController</string>
			<key>Description</key>
			<string>The ViewController name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>ViewController Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName___Presenter</string>
			<key>Description</key>
			<string>The Presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
